<section class=" section1 j do ir hj sp jr i pg">
    <!-- Hero Images -->
    <div class=" xc fn zd/2 2xl:ud-w-187.5 bd 2xl:ud-h-171.5 h q r">

        <img class="landing-image" src="../../assets/images/landing-rpam.svg" alt="Woman" />
    </div>

    <!-- Hero Content -->
    <div class="bb ze ki xn 2xl:ud-px-0">
        <div class="tc _o">
            <div class="animate_left jn/2">
                <h3 class="fk vj zp or kk wm wb"><span
                        class="bg-gradient-to-r from-blue-600 via-green-500 to-indigo-400 inline-block text-transparent bg-clip-text">Optimisez</span>
                    votre
                    objectif professionnel,
                    <span data-aos="fade-left"
                        class="bg-gradient-to-r from-blue-600 via-green-500 to-indigo-400 inline-block text-transparent bg-clip-text">Capitalisez</span>
                    vos compétences
                    fondamentales, <span
                        class="bg-gradient-to-r from-blue-600 via-green-500 to-indigo-400 inline-block text-transparent bg-clip-text">Vivez</span>
                    une carrière d’exception
                </h3>
                <p class="fq">
                    RPAM vous accompagne dans la réussite des différentes phases de votre projet professionnel.
                </p>

                <div class="tc tf yo zf mb">
                    <a href="#"
                        class="text-white bg-gradient-to-br from-green-400 to-blue-600 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-green-200 dark:focus:ring-green-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">Rejoignez
                        nous</a>


                </div>
            </div>
        </div>
    </div>
</section>



<section class="ji gp uq 2xl:ud-py-35 pg">
    <div class="bb ze ki xn wq">
        <div class="tc wf gg qq">
            <!-- About Images -->
            <div class="animate_left xc gn gg jn/2 i">
                <div>
                    <img src="../assets/images/shape-05.svg" alt="Shape" class="h -ud-left-5 x" />
                    <img src="../assets/images/about-01.png" alt="About" class="ib" />
                    <img src="../assets/images/about-02.png" alt="About" />
                </div>
                <div>
                    <img src="../assets/images/shape-06.svg" alt="Shape" />
                    <img src="../assets/images/about-03.png" alt="About" class="ob gb" />
                    <img src="../assets/images/shape-07.svg" alt="Shape" class="bb" />
                </div>
            </div>

            <!-- About Content -->
            <div class="animate_right jn/2">
                <h4 class="ek valeur-title gb">Nos valeurs</h4>
                <h3 class="fk vj zp pr kk wm qb"><span class="valeur">01</span> L'espris d'equipe</h3>
                <p class="uo">Notre équipe se mobilise dans un esprit de cohésion et de confiance afin de vous offrir un
                    service de qualité.</p>
                <h3 class="fk vj zp pr kk wm qb"><span class="valeur">02</span> L'écoute</h3>
                <p class="uo">Nous adoptons une posture de service et nous collectons avec attention et
                    professionnalisme chacun de vos besoins.
                </p>
                <h3 class="fk vj zp pr kk wm qb"><span class="valeur">03</span> La proximité</h3>
                <p class="uo">Nous favorisons une approche agile. Durant toutes les phases de l’ objectif à atteindre,
                    nous sommes à vos côtés.
                </p>
                <h3 class="fk vj zp pr kk wm qb"><span class="valeur">04</span> Le professionnalisme</h3>
                <p class="uo">Nous agissons avec intégrité, responsabilité, respect et compétence dans tous les aspects
                    de votre projet.
                </p>

                <a href="https://www.youtube.com/watch?v=xcJtL7QggTI" data-fslightbox class="vc wf hg mb">
                    <span class="tc wf xf be dd rg i gh ua">
                        <span class="nf h vc yc vd rg gh qk -ud-z-1"></span>
                        <img src="../assets/images/icon-play.svg" alt="Play" />
                    </span>
                    <span class="kk">Comment ca marche ?</span>
                </a>
            </div>
        </div>
    </div>
</section>

<!-- ===== Blog Start ===== -->
<section class="ji gp uq">
    <!-- Section Title Start -->
    <div>
        <div class="animate_top bb ze rj ki xn vq">
            <h2 class="fk vj pr kk wm on/5 gq/2 bb _b">
                Derniers actualités
            </h2>
            <p class="bb on/5 wo/5 hq" x-text="sectionTitleText">Découvrez les dernières actualités passionnantes de
                notre entreprise et explorez des articles captivants dans notre
                blog, où nous partageons insights, conseils et les histoires qui façonnent notre parcours.</p>
        </div>


    </div>
    <!-- Section Title End -->

    <div class="bb ye ki xn vq jb jo">
        <div class="wc qf pn xo zf iq">
            <!-- Blog Item -->
            <div class="animate_top sg vk rm xm">
                <div class="c rc i z-1 pg">
                    <img class="w-full" src="../../assets/images/blog-01.png" alt="Blog" />

                    <div class="im h r s df vd yc wg tc wf xf al hh/20 nl il z-10">
                        <a href="./blog-single.html" class="vc ek rg lk gh sl ml il gi hi">Read More</a>
                    </div>
                </div>

                <div class="yh">
                    <div class="tc uf wf ag jq">
                        <div class="tc wf ag">
                            <img src="../../assets/images/icon-man.svg" alt="User" />
                            <p>Musharof Chy</p>
                        </div>
                        <div class="tc wf ag">
                            <img src="../../assets/images/icon-calender.svg" alt="Calender" />
                            <p>25 Dec, 2025</p>
                        </div>
                    </div>
                    <h4 class="ek tj ml il kk wm xl eq lb">
                        <a href="blog-single.html">Free advertising for your online business</a>
                    </h4>
                </div>
            </div>

            <!-- Blog Item -->
            <div class="animate_top sg vk rm xm">
                <div class="c rc i z-1 pg">
                    <img class="w-full" src="../../assets/images/blog-02.png" alt="Blog" />

                    <div class="im h r s df vd yc wg tc wf xf al hh/20 nl il z-10">
                        <a href="./blog-single.html" class="vc ek rg lk gh sl ml il gi hi">Read More</a>
                    </div>
                </div>

                <div class="yh">
                    <div class="tc uf wf ag jq">
                        <div class="tc wf ag">
                            <img src="../../assets/images/icon-man.svg" alt="User" />
                            <p>Musharof Chy</p>
                        </div>
                        <div class="tc wf ag">
                            <img src="../../assets/images/icon-calender.svg" alt="Calender" />
                            <p>25 Dec, 2025</p>
                        </div>
                    </div>
                    <h4 class="ek tj ml il kk wm xl eq lb">
                        <a href="blog-single.html">9 simple ways to improve your design skills</a>
                    </h4>
                </div>
            </div>

            <!-- Blog Item -->
            <div class="animate_top sg vk rm xm">
                <div class="c rc i z-1 pg">
                    <img class="w-full" src="../../assets/images/blog-03.png" alt="Blog" />

                    <div class="im h r s df vd yc wg tc wf xf al hh/20 nl il z-10">
                        <a href="./blog-single.html" class="vc ek rg lk gh sl ml il gi hi">Read More</a>
                    </div>
                </div>

                <div class="yh">
                    <div class="tc uf wf ag jq">
                        <div class="tc wf ag">
                            <img src="../../assets/images/icon-man.svg" alt="User" />
                            <p>Musharof Chy</p>
                        </div>
                        <div class="tc wf ag">
                            <img src="../../assets/images/icon-calender.svg" alt="Calender" />
                            <p>25 Dec, 2025</p>
                        </div>
                    </div>
                    <h4 class="ek tj ml il kk wm xl eq lb">
                        <a href="blog-single.html">Tips to quickly improve your coding speed.</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ===== Blog End ===== -->
<section class="i pg gh ji">
    <!-- Bg Shape -->
    <img class="h p q" src="../../assets/images/shape-16.svg" alt="Bg Shape" />

    <div class="bb ye i z-10 ki xn dr">
        <div class="tc uf sn tn un gg">
            <div class="animate_left to/2">
                <h2 class="fk vj zp pr lk ac">
                    Connectez-vous à notre réseau dynamique, où l'apprentissage
                    rencontre l'expertise professionnelle.
                </h2>
                <p class="lk">
                    Rejoignez la communauté RPAM, où l'apprentissage rencontre l'expertise professionnelle. Explorez des
                    opportunités
                    uniques, partagez vos connaissances et évoluez dans un environnement propice à la croissance
                    collaborative.
                </p>
            </div>
            <div class="animate_right bf">
                <a href="#" class="vc ek kk hh rg ol il cm gi hi">
                    Nous rejoindre
                </a>
            </div>
        </div>
    </div>
</section>